@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	.width-xl {
		width: 1280px;
	}

	.width-lg {
		width: 1024px;
	}

	.width-md {
		width: 768px;
	}

	.width-sm {
		width: 640px;
	}

	.width-600 {
		width: 600px;
	}
}

.markdown {
	@apply w-full md:width-md mx-auto
}

.markdown h2 {
	@apply text-xl font-bold mt-6
}

.markdown h3 {
	@apply text-lg font-bold mt-6
}

.markdown p {
	@apply mt-2
}

.markdown ul {
	@apply list-disc pl-6 mt-2
}

.markdown li {
	@apply leading-7
}